<!DOCTYPE html>
<html lang="id">
	<head>
		<title>Paranala | HOME</title>
		<link rel="stylesheet" href="/styles.css" >
	</head>
	<body>
		<nav>
			<div class="nav">
				<div>
					<h3>Pralana</h3>
				</div>
				<ul class="nav-ul">
					<li><a href="/">Home</a></li>
					<li><a href="/">Home</a></li>
					<li><a href="/">Home</a></li>
					<li><a href="/">Home</a></li>
				</ul>
			</div>
		</nav>
		<h1 class="title">Test</h1>
		<form action="/link" method="post">
			<input type="text" name="linksearch">
			<input type="submit">
		</form>
		
	</body>
	<style>
		body{
			margin:0;
			padding:0;
			font-family:arial;
		}
		.nav{
			background:white;
			box-shadow: 6px 3px 3px rgba(0,0,0,.1);
			display:flex;
			justify-content:space-between;
		}
		.nav h3{
			margin-left:20px;
		}
		.nav .nav-ul  {
			display:flex;
			justify-content:space-between;
		}
		.nav .nav-ul li {
			list-style:none;
			padding:5px;
		}
	</style>
</html>