<!DOCTYPE html>
<html lang="id">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pranala | HOME</title>
		<link rel="stylesheet" href="/css/styles.css" >
	</head>
	<body>
		<nav>
			<div class="nav">
				<div>
					<h3><b style="color:violet">Gat</b>ra</h3>
				</div>
				<ul class="nav-ul">
					<li><a href="/">Home</a></li>
					<li><a href="/">Decode</a></li>
					<li><a href="/">About</a></li>
					<li><a href="/">Arsip</a></li>
				</ul>
			</div>
		</nav>
			
			
			<div class="caption_main">
				<h1 class="title">Short Link The VanJava</h1>
				<p>Short Link cepat, aman, mudah dan gratis. </p>
				<div>
					<input type="text" class="input_url" placeholder="contoh: https://www.ithtech.id"  id="submit" required>
					<input type="submit" class="submit" onclick="ClickUrl()">
				</div>
			</div>
			
			<div id="url_token" class="url_token">
				
				
			</div>	<center>
			<button onclick="CopyLinkToken()">Salin</button></center>
			<div class="img_list">
				<div class="img">
					<img src="/images/secure.png"/>
					<br>
						<text class="img_title">Aman</text></br>
						<text>Menjamin link yang aman dan dilengkapi scanning tools.</text>
					
				</div>
				<div class="img">
					<img src="/images/fast.png"/><br>
					<text class="img_title">Cepat</text></br>
					<text>Dilengkapi dengan caching server app berjalan cepat.</text>
				</div>
				<div class="img">
					<img src="/images/mudah.png"/><br>
					<text class="img_title">Praktis</text></br>
					<text>Mudah digunakan oleh siapa saja dan dimana saja.</text>
				</div>
				<div class="img">
					<img src="/images/open.png"/><br>
					<text class="img_title">Sumber Terbuka</text></br>
					<text>Aplikasi shortlink yang 100% gratis untuk siapa saja.</text>
				</div>
			</div>
			
			<footer>
				<div class="footer">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/">Decode</a></li>
						<li><a href="/">Arsip</a></li>
						<li><a href="/">About</a></li>
					</ul>
					
					<div >
						<hr/>
						<text>Hak Cipta Dilindungi oleh undang - undang</text>
					</div>
				</div>
				
			</footer>
		<script src="/js/fetch.js" ></script>
	</body>
</html>